project:
  type: website

execute:
  freeze: auto

author: "Insee, Département des Méthodes Statistiques"

website:
  title: "La protection des données statistiques publiques"
  description: |
    "Formation en ligne sur la protection des données statistiques contre 
    les risques de divulgation à destination des producteurs de statistiques publiques."
  navbar:
    right:
      - href: index.qmd
        text: "Accueil"
      - href: theorie/index.qmd
        text: "Un peu de théorie"
      - href: pratique/index.qmd
        text: "En pratique"
      - href: about.qmd
        text: "À propos"
  page-footer:
    left: "© 2025 - Insee"
    right: "Site réalisé avec Quarto"
  sidebar:
    - title: "Un peu de théorie"
      style: "docked"
      contents:
        - theorie/arbitrer-risque-utilite.qmd
        - theorie/donnees-tabulees.qmd
        - theorie/donnees-individuelles.qmd
        - theorie/confidentialite-differentielle.qmd
    - title: "En pratique"
      style: "docked"
      contents:
        - pratique/arbitrer-risque-utilite-pratique.qmd
        - pratique/donnees-tabulees-pratique.qmd
        - pratique/donnees-individuelles-pratique.qmd
        - pratique/confidentialite-differentielle-pratique.qmd

format:
  html:
    theme: 
      light: [cosmo, styles/custom-light.scss]
      dark: [cosmo, styles/custom-dark.scss]
    toc: true
    code-fold: true
    code-tools: true
    code-link: true
    reference-location: margin
    citation-location: margin
    cap-location: bottom
    bibliography: references-SDC.bib

babelquarto:
  languagecodes:
  - name: en
    text: "Version in en"
  - name: fr
    text: "Version in fr"
  mainlanguage: 'fr'
  languages: ['en']
title-en: "Statistical Disclosure Control for Public Statistics"
description-en: |
  "Online training on the protection of statistical data against 
  disclosure risks for public statistics producers."
author-en: "INSEE, Department of Statistical Methods"
lang: fr

