on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      
      - name: Install libglpk-dev
        run: |
          sudo apt install cmake -y
          sudo apt install zlib1g-dev -y
          sudo apt install libglpk-dev -y
      
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          install-r: true
          r-version: 'latest'
      - name: Install R packages dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          packages: |
            github::ropensci-review-tools/babelquarto@v0.1.0
      - name: Render the Quarto site with babelquarto
        run: Rscript -e 'babelquarto::render_website()'
      - name: Achieve site render
        uses: actions/upload-artifact@v4
        with:
          name: site_render
          path: _site/
      - name: Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          render: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          