on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          install-r: true
          r-version: 'latest'
      - name: Install R packages dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
      - name: Render the Quarto site with babelquarto
        run: RRscript -e 'babelquarto::render_site()'
      - name: Achieve site render
        uses: actions/upload-artifact@v3
        with:
          name: site_render
          path: _site/
      - name: Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          render: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          